.main{
   background-color: #FFFFFF;
   border-width: thin;
   border-color: #000000;
   width: 380px;
   height: 520px;
   margin: 20px;
   padding: 20px;
   padding-left: 40px;
   border-radius: 2px;
   -moz-box-shadow: 0 1px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
   -webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
   border-radius: 3px;
   box-shadow: 0 1px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);  
      
}

.row-detail{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -40px;
    margin-top: 10px;
        
}

.edt-calc-std{
    padding: 10px;
    width: 100%;
    font-size: 14px;
    line-height: 22px;
    color: #555;
    background-color: #efefef;
    border: none;
    transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -webkit-transition: all 0.2s linea
    
}
